[submodule "third_party/behdad/region-flags"]
	path = third_party/behdad/region-flags
	url = https://github.com/behdad/region-flags.git
	branch = gh-pages
[submodule "third_party/googlefonts/noto-emoji"]
	path = third_party/googlefonts/noto-emoji
	url = https://github.com/googlefonts/noto-emoji.git
